/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .card-img ul li .btn
{
    padding: 4px 4px;
    font-size: 80%;

}
 
}
@media(max-width:768px) {
    .btn {
        padding: 2px 4px;
        font-size: 80%;
        line-height: 1;
    }
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /*padding-top: 20px;*/
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}

.voffset {
    margin-top: 2px
}

.voffset1 {
    margin-top: 5px
}

.voffset2 {
    margin-top: 10px
}

.voffset3 {
    margin-top: 20px
}

.voffset4 {
    margin-top: 40px
}

.voffset5 {
    margin-top: 80px
}

/*bootstrap overrides*/
body {
    font-size: 17px;
}

.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}


    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

.navbar-brand {
    font-weight: 700;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(205, 40, 39, 0.55);
}

.navbar-inverse  {
    position: relative;
}

    .navbar-inverse .badge {
        position: absolute;
        top: 8px;
        right: -1px;
        background: #a80a0a;
    }

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-inverse .navbar-nav > .dropdown > a.caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

body, h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    height: 44px;
    border-radius: 9px;
}

    .form-control:focus {
        border-color: #2196f3;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

.btn {
    /*font-size:17px;
    padding:7px 20px;*/
    border-radius: 9px;
}
.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

h5{
    font-weight:700;
    font-size:16px;
    color:#3a3c41;
}
h5 small{
    font-weight:bold;
    font-size:12px;
    font-style:italic;
}

img{
    transform:scale(1,1);
    transition-duration:500ms;
    transition-timing-function:ease-out;

}
.card:hover img{
    transform:scale(1.2,1.2);
    transition-duration:500ms;
    transition-timing-function:ease-out;
    opacity:0.7;
}
.card-img{
    overflow:hidden;
    position:relative;
}
.member-icons{
    position:absolute;
    bottom:-20%;
    left:0;
    right:0;
    margin-right:auto;
    margin-left:auto;
    opacity:0;
}
.card:hover .member-icons{
    bottom:0;
    opacity:1;
}
.animate{
    transition:all 0.3s ease-in-out;
}

.equals{
    display:flex;
    flex-flow:row wrap;
   align-content:flex-end;
}

/*.profile-image{
    margin:25px;
    width:85%;
    height:85%;
}*/
   .profile-image>.card-body {
        padding: 0 25px;
    }
    .profile-image>.card-footer {
        padding: 10px 15px;
        background-color: #fff;
        border-top: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
.btn-group-justified>.btn-group .btn{
    width:100px;
}
.photos{
    width:75%;
    height:25%;
}