@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Find your match</h1>
    <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
    <div class="text-center">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary btn-lg ">Register</a>
        <button class="btn btn-info btn-lg" onclick="alertify.success('success');">Learn More</button>
    </div>
</div>
